* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    width: 100%;
    background: #fff;
    margin: 30px auto;
    padding: 60px 0px;
}

.stopwatch {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fiels-container {
    display: flex;
}

.value {
    background: #3b5174;
    color: #fff;
    display: inline-block;
    font-family: monospace;
    font-size: 22px;
    padding: 20px;
    border-radius: 5px;
    width: 70px;
}

.separator {
    color: #3b5174;
    font-size: 30px;
}

.btn {
    background: #fff;
    margin-top: 30px;
    margin-left: 5px;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    text-transform: uppercase;
    width: 150px;
    transition: 0.5s;
    cursor: pointer;
}

.btn-red {
    border: 2px solid #c85454;
    color: #c85454;
}

.btn-yellow {
    border: 2px solid #ffc900;
    color: #ffc900;
}

.btn-green {
    border: 2px solid #3b5174;
    color: #3b5174;
}

.btn-red:hover {
    background: #c85454;
    border: 2px solid #c85454;
    color: #fff;
}

.btn-yellow:hover {
    background: #ffc900;
    border: 2px solid #ffc900;
    color: #fff;
}

.btn-green:hover {
    background: #3b5174;
    border: 2px solid #3b5174;
    color: #fff;
}